[Unit]
Description=Finanzen: Abruf um 06:30 und 18:30

[Timer]
OnCalendar=*-*-* 06:30:00
OnCalendar=*-*-* 18:30:00
Persistent=true
RandomizedDelaySec=120

[Install]
WantedBy=timers.target
